.App {
  text-align: center;
  
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #343a40;
  height: 25px;
  padding: 10px;
  color: white;
  align-content: center;
  text-align-last: center;
}

.App-title {
  font-size: 1.5em;
  align-content: center;
}

.App-intro {
  font-size: large;
}

::-webkit-scrollbar{
  display: none;
}

.wrapper {
  display: grid; 
  grid-gap: 0px;
  grid-auto-columns: 219px;
  grid-auto-rows: 110px;
}
.one {
  border: 1px solid #343a40;
  background-color: #343a40;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 0;
  grid-column-end: 1;
  overflow: scroll;
}
.two { 
  border: 1px solid #343a40;
  background-color: #343a40;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 0;
  grid-column-end: 1;
}
.three {
  border: 1px solid #343a40;
  grid-row-start: span 6;
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: #0f1316;
}
.four {
  border: 1px solid #343a40;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 7;
}
.five {
  border: 1px solid #343a40;
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 6;
  grid-column-end: 7;
}

.App-scroll{
  overflow: scroll;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



