.circle {
  width: 100px;
  height: 100px;
  border: 1pt solid black;
  border-radius: 50px;
  background: red;
}

.square {
  width: 100px;
  height: 100px;
  border: 1pt solid black;
  background: red;
}